@model FinancialPlanner.Models.Household

@{
    ViewBag.Title = "Details";
}
<header class="page-header">
    <h2>@Html.DisplayFor(model => model.Name) - @Html.DisplayFor(model => model.Greeting)</h2>

    <div class="">
        <ol class="breadcrumbs"></ol>

        <div  id="userbox" class="userbox">

                <a style="height: 10vh" href="#" data-toggle="dropdown">
                    <i class="fa fa-cog" ></i>
                    Options
                    <i class="fa custom-caret"></i>
                </a>


            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</li>
                    <li>@Html.ActionLink("Leave Household", "LeaveHousehold", new { id = Model.Id })</li>
                    <li>@Html.ActionLink("Invite user", "Create", "Invitations")</li>

                </ul>
            </div>
        </div>

    </div>
</header>

<div>

    <dl class="dl-horizontal">

        <dt>
            Users
        </dt>


        @foreach (var user in Model.Users)
        {
            <br />
            <dd>
                @Html.Raw(user.DisplayName)
            </dd>
        }
    </dl>
</div>

