@model FinancialPlanner.Models.Account

@{
    ViewBag.Title = "Delete";
}



<h3 style="text-align: center">Are you sure you want to delete this?</h3>
<div style="display: flex; justify-content: center">
    <div style="width: 60vw" class="well row">
        <h4 style="text-align: center">@Model.Name</h4>
        <hr />
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayNameFor(model => model.InitialBalance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InitialBalance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentBalance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentBalance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LowBalanceLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LowBalanceLevel)
            </dd>

        </dl>
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> 
            </div>
        }
    </div>
    </div>