@model FinancialPlanner.Models.Household

@{
    ViewBag.Title = "Details";
}
<header class="page-header">
    <h2>@Model.Name- @Model.Greeting</h2>
</header>

<div>

    <div class="col-md-8">
        @if (Model.Budgets.Count() == 0)
        {
            <h2>Create a budget to get started</h2>
        }
        else
        {
            foreach (var budget in Model.Budgets)
            {

                <div style="text-align: center" class="col-md-4">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                                <a href="#" class="fa fa-times"></a>
                            </div>

                            <h2 class="panel-title">@budget.Name</h2>
                        </header>
                        <div class="panel-body">

                            @{
                                var percent = (budget.CurrentTotal / budget.TargetTotal) * 100;
                            }
                            <meter min="0" max="100" value=@percent class="meter"></meter>

                            Target: @budget.TargetTotal
                            Actual: @budget.CurrentTotal
                            <br />
                            <a class="btn btn-primary" href=@Url.Action("Create", "BudgetItems", new { budgetId = budget.Id }, null)>Add Expense</a>
                        </div>
                    </section>
                </div>
            }

        }
    </div>
    <div class="col-md-4">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Accounts</h2>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-md">
                            <a href=@Url.Action("Create","Accounts") class="btn btn-primary">Add <i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <table class="dtable table table-bordered table-striped mb-none" id="datatable-editable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Balance</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var account in Model.Accounts)
                        {
                            <tr class="gradeX">
                                <td>@account.Name</td>
                                <td>@account.CurrentBalance</td>
                                <td class="actions">
                                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>

                        }
                    </tbody>

                </table>
            </div>
        </section>



        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Users</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table mb-none">
                        <thead>
                            <tr>
                                <th>DisplayName</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>@user.DisplayName</td>
                                    <td>@user.Email</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </section>
    </div>

</div>

